#blog-link {
    text-align: center;
    margin-top: 20px;
}
.card {
    margin: 10px 0 10px 10px;

}
footer {
    display: inline;
    
    color: rgb(44, 136, 105);
    text-decoration: none;
    
    
}


/* Was trying to align the youtube content to the right side of the page */
/* .right {
    position: absolute;
    width: 82%;
    padding-left: 57%;
    top: 0;
    padding-top: 3.5%;
    left: 15%;
} */


#mainBox h2 {
    text-align: center;
    font-size: xx-large;
}

#mainBox p {
    background-col
}