#blog-link {
    text-align: center;
    margin-top: 20px;
}
.card {
    /* margin: 10px 0 10px 10px;
    min-width: 300px;
    min-height: 500px;
    background-color: rgb(238, 250, 246); */
}

/* Was trying to align the youtube content to the right side of the page */
/* .right {
    position: absolute;
    width: 82%;
    padding-left: 57%;
    top: 0;
    padding-top: 3.5%;
    left: 15%;
} */


#mainBox h2 {
    text-align: center;
    font-size: xx-large;
}

#mainBox .card{
    background-color: rgb(238, 250, 246);
    width: 80vw;
    text-align: center;
    margin-left: 10vw;
}   

.row-cols-1 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255), rgb(121, 157, 145), rgba(255, 255, 255));
}
#mainBox {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(121, 157, 145), rgba(255, 255, 255));

}

iframe {
    border-radius: 5px 5px 0px 0px;
    min-height: 376px;
}

#calorie {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(121, 157, 145), rgba(255, 255, 255));

}
.wrapper {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(189, 221, 221);
    padding: 20px 35px;
    
}

.signup-form-btn{
    margin: 5px;
    padding: 5px;
}